<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>UN Member Countries</title>
</head>

<body tabindex="-1">
    <%- include('partials/navbar', {page: '/un/countries' }) %>
        <div class="container mx-auto">
            <div class="hero bg-base-200 rounded-box p-2">
                <div class="hero-content text-center">
                    <div class="max-w-md">
                        <h1 class="text-5xl font-bold">Countries</h1>
                        <p class="py-6">Browse countries, i.e., United Nations member states. Click the 'region' buttons
                            to filter by regions such as:
                        </p>
                        <button class="btn btn-primary btn-xs"><a href="/un/countries?region=Africa">Africa</a></button>
                        <button class="btn btn-primary btn-xs"><a
                                href="/un/countries?region=Americas">Americas</a></button>
                    </div>
                </div>
            </div>
            <br>
            <div class="overflow-x-auto">
                <table class="table-auto w-full mt-8">
                    <tbody>
                        <% countries.forEach(country=> { %>
                            <tr class="hover:bg-gray-300">
                                <td>
                                    <div class="avatar">
                                        <div class="w-40 h-20 rounded-box">
                                            <img src="<%= country.flag %>" alt="<%= country.name %> flag" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <%= country.name %> | <a href="/un/countries?region=<%= country.region.name %>"
                                        class="btn btn-primary btn-xs">
                                        <%= country.region.name %>
                                    </a>
                                </td>
                                <td>
                                    <div class="font-bold">Population</div>
                                    <div class="text-sm opacity-70"><%= country.population.toLocaleString() %></div>
                                </td>
                                <td>
                                    <div class="font-bold">Capital</div>
                                    <%= country.capital %>
                                </td>
                                <td><a href="/un/countries/<%= country.a2code %>"
                                        class="btn btn-primary btn-xs">Details</a></td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
</body>
</html>