<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>UN Member Countries</title>
</head>

<body tabindex="-1">
    <%- include('partials/navbar', {page: '' }) %>
        <div class="container mx-auto p-4">
            <div class="hero bg-base-300 rounded-box p-2">
                <div class="hero-content text-center">
                    <div class="max-w-md">
                        <h1 class="text-5xl font-bold">Edit Country: <%= country.name %>
                        </h1>
                        <p class="py-6">Use the below form to update the Country "<%= country.name %>"
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <form method="post" action="/un/editCountry">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    <div class="form-control">
                        <label for="name" class="label">
                            <span class="label-text font-bold text-base">Name</span>
                        </label>
                        <input type="text" value="<%= country.name %>" id="name" name="name" required
                            class="input input-bordered w-full max-w-xl rounded-box" />
                    </div>

                    <div class="form-control">
                        <label for="official" class="label">
                            <span class="label-text font-bold text-base">Official Name</span>
                        </label>
                        <input type="text" value="<%= country.official %>" id="official" name="official" required
                            class="input input-bordered w-full max-w-xl rounded-box" />
                    </div>

                    <div class="form-control">
                        <label for="native" class="label">
                            <span class="label-text font-bold text-base">Native Name</span>
                        </label>
                        <input type="text" value="<%= country.nativeName %>" id="native" name="native" required
                            class="input input-bordered w-full max-w-xl rounded-box" />
                    </div>

                    <div class="form-control">
                        <label for="region" class="label">
                            <span class="label-text font-bold text-base">Region</span>
                        </label>
                        <select id="region" name="region" required
                            class="select select-bordered w-full max-w-xl rounded-box">
                            <% regions.forEach(region=>{ %>
                                <option <%=(country.regionId==region.id) ? "selected" : "" %> value="<%= region.id %>">
                                        <%= region.name %>
                                </option>
                                <% }) %>

                        </select>
                    </div>

                    <div class="form-control">
                        <label for="a2code" class="label">
                            <span class="label-text font-bold text-base">Alpha 2 Code</span>
                        </label>
                        <input type="text" value="<%= country.a2code %>" id="a2code" name="a2code" required readonly
                            class="text opacity-70 bg-base-300 input w-full max-w-xl rounded-box cursor-not-allowed" />
                    </div>

                    <div class="form-control">
                        <label for="capital" class="label">
                            <span class="label-text font-bold text-base">Capital</span>
                        </label>
                        <input type="text" value="<%= country.capital %>" id="capital" name="capital" required
                            class="input input-bordered w-full max-w-xl rounded-box" />
                    </div>

                    <div class="form-control">
                        <label for="population" class="label">
                            <span class="label-text font-bold text-base">Population</span>
                        </label>
                        <input type="number" value="<%= country.population %>" id="population" name="population"
                            required class="input input-bordered w-full max-w-xl rounded-box" />
                    </div>

                    <div class="form-control">
                        <label for="language" class="label">
                            <span class="label-text font-bold text-base">Languages</span>
                        </label>
                        <input type="text" value="<%= country.languages %>" id="language" name="language" required
                            class="input input-bordered w-full max-w-xl rounded-box" />
                    </div>

                    <div class="form-control">
                        <label id="permanentUNSC" class="label">
                            <span class="label-text font-bold text-base">Permanent UNSC Member?</span>
                        </label>
                        <label class="cursor-pointer label">
                            <input type="checkbox" name="permanentUNSC" checked="checked" class="checkbox checkbox-success" />
                        </label>
                    </div>
                </div><br />

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
                    <div class="form-control">
                        <label for="wiki" class="label">
                            <span class="label-text font-bold text-base">Wikipedia URL</span>
                        </label>
                        <input type="url" value="<%= country.wikipediaURL %>" id="wiki" name="wiki" required
                            class="input input-bordered w-full mx-auto rounded-box" />
                    </div>

                    <div class="form-control">
                        <label for="flag" class="label">
                            <span class="label-text font-bold text-base">Flag Image URL</span>
                        </label>
                        <input type="url" value="<%= country.flag %>" id="flag" name="flag" required
                            class="input input-bordered w-full mx-auto rounded-box" />
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
                    <div class="mt-6">
                        <button type="submit" class="btn btn-block btn-success rounded-lg">Update Country</button>
                    </div>

                    <div class="mt-6">
                        <button type="submit" class="btn btn-block btn-error rounded-lg"><a
                                href="/un/deleteCountry/<%= country.a2code %>">Delete Country</a></button>
                    </div>
                </div><br />

            </form>
        </div>
</body>

</html>